*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    height: 12vh;
    justify-content: space-around;
    align-items: center;
    background-color: #252525;
    font-family: 'Roboto Serif', serif;
}

header div {
    display: flex;
    width: 14vw;
    color: white;
    align-items: center;
    justify-content: space-between;
    
    
}

header nav {
    display: flex;
    width: 13vw;
    justify-content: space-between;
    align-items: center;
}

.primeiraSessao img {
    width: 10vw;
}

.pata {
    width: 3vw;
}

.imgNav {
    width: 2vw;
}

.primeiraSessao {
    background-image: url(./assets/dog-chapeu.png);
    height: 125vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Roboto Serif', serif;
}

.imgPrimeiraSessao{
    padding-top: 75px;
}

.primeiraSessao div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    color: white;
    font-size: 51px;
    padding-top: 185px;
}

.segundaSessao {
    background-image: url(./assets/dog-touca.png);
    height: 135vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.segundaSessao div{
    width: 50vw;
    display: flex;
    justify-content: left;
    flex-direction: column;
    color: #3A342F;
    font-size: 27px;
    padding-left: 60px;
}

.segundaSessao h2{
    font-size: 59px;
    font-family: 'Roboto Serif', serif;
}

.segundaSessao p{
    width: 25vw;
    text-align: left;
    letter-spacing: 1px;
    margin-top: 35px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

.segundaSessao button{
    width: 20vw;
    height: 12vh;
    background-color: #3a342f;
    color: #f4f2f3;
    border-radius: 65px;
    border: none;
    font-size: 35px;
    margin-top: 45px;
    
}

.terceiraSessao{
    background-image: url(./assets/dog-preto.png);
    height: 135vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: right;
}

.terceiraSessao div{
    width: 50vw;
}


.terceiraSessao h2{
    font-size: 59px;
    font-family: 'Roboto Serif', serif;
}

.terceiraSessao p{
    width: 25vw;
    text-align: left;
    letter-spacing: 1px;
    margin-top: 35px;
    line-height: 1.5;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
}

.apoio {
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 29px;
    color: #FD6A9A;
    font-family: 'Roboto Serif', serif;
}

figure {
    display: flex;
    justify-content: space-between;
    width: 35vw;
}

footer{
    background-color: #EB4A7B;
    display: flex;
    justify-content: space-evenly;
    color: #FFFFFF;
    height: 28vh;
    align-items: center;
    line-height: 1.9;

}

footer section {
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoPata {
    display: none;
}

.contatos {
    display: none;
}

.atendimento{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.atendimento h2{
    font-family: 'Roboto Serif', serif;
    font-size: 24px;
}

.sobre{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.sobre h2{
    font-family: 'Roboto Serif', serif;
    font-size: 24px;
}

.unidades{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.unidades h2{
    font-family: 'Roboto Serif', serif;
    font-size: 24px;
}

.terceiraSessao button{
    width: 20vw;
    height: 12vh;
    background-color: white;
    color: black;
    border-radius: 65px;
    border: none;
    font-size: 35px;
    margin-top: 45px;
    font-family: 'Roboto Serif', serif;
    
}

@media (max-width:500px) {

    .insta {
        display: none;
    }

    .youtube {
        display: none;
    }

    .whatsapp {
        width: 10vw;
    }

    .pata {
        width: 15vw;
        padding-right: 7px;
    }

    header div {
        position: relative;
        right: 55px;
    }

    header nav{
        padding-left: 65px;
        justify-content: center;
    }

    .primeiraSessao {
        background-image: url(assets/dog-chapeu-mobile.png);
        height: 85vh;
    }

    .primeiraSessao img {
        width: 30vw;
    }

    .primeiraSessao div {
        height: 0vh;
        flex-direction: column;
        justify-content: center;
        font-size: 40px;
    }

    .primeiraSessao div h2 {
        font-size: 38px;
    }


    .segundaSessao {
        background-image: url(assets/dog-touca-mobile.png);
        height: 85vh;
    }

    .segundaSessao div {
        width: 95vw;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        bottom: 150px;
    }

    .segundaSessao div h2{
        width: 75vw;
        font-size: 33px
    }

    .segundaSessao div p {
        width: 85vw;
        font-size: 20px;
    }

    .segundaSessao div button {
        width: 45vw;
        height: 8vh;
        font-size: 28px;
    }


    .terceiraSessao {
        background-image: url(assets/dog-preto-mobile.png);
        height: 85vh;
    }

    
    .terceiraSessao div {
        width: 95vw;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        bottom: 150px;
    }

    .terceiraSessao div h2{
        width: 85vw;
        font-size: 33px
    }

    .terceiraSessao div p {
        width: 85vw;
        font-size: 20px;
    }


    footer section {
        display: flex;
        flex-direction: column;
    }
    
    .terceiraSessao div button {
        width: 55vw;
        height: 8vh;
        font-size: 28px;
    }

    .apoio {
        flex-direction: column;
        font-size: 23px;
    }

    footer {
        height: 80vh;
        
    }

    .logoPata{
        display: flex;

        align-items: center;
        font-size: 20px;
        
    }

    .contatos {
        width: 40vw;
        height: 50vh;
    }

    .atendimento{
        align-items: center;
    }

        
    .sobre{
        align-items: center;
    }

    .unidades{
        align-items: center;
    }
}